/*
 * Copyright (c) 2020 The ZMK Contributors
 * Copyright (c) 2026 Innaworks Development Limited, trading as MoErgo
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>

/* Include all behavior includes needed */

#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/* On demand includes */
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

/* Helper Macros, based on https://github.com/urob/zmk-helpers/ */

#pragma once

#define ZMK_HELPER_STRINGIFY(x) #x

// Preprocessor mechanism to overload macros, cf. https://stackoverflow.com/a/27051616/6114651
#define VARGS_(_10, _9, _8, _7, _6, _5, _4, _3, _2, _1, N, ...) N
#define VARGS(...) VARGS_(__VA_ARGS__, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
#define CONCAT_(a, b) a##b
#define CONCAT(a, b) CONCAT_(a, b)

#define ZMK_BEHAVIOR_CORE_tap_dance  \
    compatible = "zmk,behavior-tap-dance"; \
    #binding-cells = <0>

#define ZMK_BEHAVIOR(name, type, ...) \
    name: name { \
        ZMK_BEHAVIOR_CORE_ ## type; \
        __VA_ARGS__ \
    };

#define ZMK_TAP_DANCE(name, ...) \
    ZMK_BEHAVIOR(name, tap_dance, __VA_ARGS__)

#define ZMK_TD_LAYER(name, layer) \
    ZMK_TAP_DANCE(name, \
        tapping-term-ms = <200>; \
        bindings = <&mo layer>, <&to layer>; \
)





/* Key positions */

#define POS_LH_C6R1 0
#define POS_LH_C5R1 1
#define POS_LH_C4R1 2
#define POS_LH_C3R1 3
#define POS_LH_C2R1 4
#define POS_LH_C1R1 5
#define POS_RH_C1R1 6
#define POS_RH_C2R1 7
#define POS_RH_C3R1 8
#define POS_RH_C4R1 9
#define POS_RH_C5R1 10
#define POS_RH_C6R1 11
#define POS_LH_C6R2 12
#define POS_LH_C5R2 13
#define POS_LH_C4R2 14
#define POS_LH_C3R2 15
#define POS_LH_C2R2 16
#define POS_LH_C1R2 17
#define POS_RH_C1R2 18
#define POS_RH_C2R2 19
#define POS_RH_C3R2 20
#define POS_RH_C4R2 21
#define POS_RH_C5R2 22
#define POS_RH_C6R2 23
#define POS_LH_C6R3 24
#define POS_LH_C5R3 25
#define POS_LH_C4R3 26
#define POS_LH_C3R3 27
#define POS_LH_C2R3 28
#define POS_LH_C1R3 29
#define POS_RH_C1R3 30
#define POS_RH_C2R3 31
#define POS_RH_C3R3 32
#define POS_RH_C4R3 33
#define POS_RH_C5R3 34
#define POS_RH_C6R3 35
#define POS_LH_C6R4 36
#define POS_LH_C5R4 37
#define POS_LH_C4R4 38
#define POS_LH_C3R4 39
#define POS_LH_C2R4 40
#define POS_LH_C1R4 41
#define POS_RH_C1R4 42
#define POS_RH_C2R4 43
#define POS_RH_C3R4 44
#define POS_RH_C4R4 45
#define POS_RH_C5R4 46
#define POS_RH_C6R4 47
#define POS_LH_C4R5 48
#define POS_LH_C3R5 49
#define POS_LH_C2R5 50
#define POS_RH_C2R5 51
#define POS_RH_C3R5 52
#define POS_RH_C4R5 53
#define POS_LH_T1 54
#define POS_LH_T2 55
#define POS_LH_T3 56
#define POS_RH_T3 57
#define POS_RH_T2 58
#define POS_RH_T1 59


#define LEFT_HAND_KEYS \
  POS_LH_C1R1 POS_LH_C2R1 POS_LH_C3R1 POS_LH_C4R1 POS_LH_C5R1 POS_LH_C6R1 \
  POS_LH_C1R2 POS_LH_C2R2 POS_LH_C3R2 POS_LH_C4R2 POS_LH_C5R2 POS_LH_C6R2 \
  POS_LH_C1R3 POS_LH_C2R3 POS_LH_C3R3 POS_LH_C4R3 POS_LH_C5R3 POS_LH_C6R3 \
  POS_LH_C1R4 POS_LH_C2R4 POS_LH_C3R4 POS_LH_C4R4 POS_LH_C5R4 POS_LH_C6R4 \
              POS_LH_C2R5 POS_LH_C3R5 POS_LH_C4R5

#define RIGHT_HAND_KEYS \
  POS_RH_C1R1 POS_RH_C2R1 POS_RH_C3R1 POS_RH_C4R1 POS_RH_C5R1 POS_RH_C6R1 \
  POS_RH_C1R2 POS_RH_C2R2 POS_RH_C3R2 POS_RH_C4R2 POS_RH_C5R2 POS_RH_C6R2 \
  POS_RH_C1R3 POS_RH_C2R3 POS_RH_C3R3 POS_RH_C4R3 POS_RH_C5R3 POS_RH_C6R3 \
  POS_RH_C1R4 POS_RH_C2R4 POS_RH_C3R4 POS_RH_C4R4 POS_RH_C5R4 POS_RH_C6R4 \
              POS_RH_C2R5 POS_RH_C3R5 POS_RH_C4R5

#define THUMB_KEYS \
  POS_LH_T1 POS_LH_T2 POS_LH_T3 \
  POS_RH_T1 POS_RH_T2 POS_RH_T3

/* Environment and metadata defines */
#define KB_TYPE_GLOVE_80 1
#define KB_TYPE_GO_60    2

#define KB_TYPE          KB_TYPE_GO_60
#define EDITOR_LAYOUT_OS 'M'
#define EDITOR_HOST_OS   'M'

/* Automatically generated layer name defines */
#define LAYER_Base 0
#define LAYER_Nav 1
#define LAYER_Keypad 2
#define LAYER_Magic 3
#define LAYER_Factory 4

/* To deal with the situation where there is no Lower layer, to keep &lower happy */
#ifndef LAYER_Lower
#define LAYER_Lower 0
#endif

/* Generated input processors */
/ {
    input_processors {
        zip_click_to_right_click_mapper: zip_click_to_right_click_mapper {
            compatible = "zmk,input-processor-code-mapper";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            map = <INPUT_BTN_0 INPUT_BTN_1>;
        };
    };
};

/* Custom Device-tree */
/*
 * ===================================================================
 * PR36 Community Firmware: ZMK Per-Key/Layer RGB and Underglow Layers
 * ===================================================================
 *
 * This defines RGB colors for per-key and per-layer lighting on the Base and Keypad layers.
 *
 */

/* ============================================================
 * COLOR PALETTE (PER-KEY RGB)
 * ============================================================
 *
 * All colors use &ug (underglow set) with 24-bit RGB.
 * Naming is intentionally short for layout readability.
 */

#if __has_include(<dt-bindings/zmk/rgb_colors.h>)
  //
  // Color definitions with conflict guard to prevent
  // accidental redefinition of common abbreviations.
  //
  #if defined(RED) || defined(RED_RGB) || \
      defined(COR) || defined(COR_RGB) || \
      defined(ORN) || defined(ORN_RGB) || \
      defined(GDN) || defined(GDN_RGB) || \
      defined(GOL) || defined(GOL_RGB) || \
      defined(YLW) || defined(YLW_RGB) || \
      defined(CHU) || defined(CHU_RGB) || \
      defined(GRN) || defined(GRN_RGB) || \
      defined(SPG) || defined(SPG_RGB) || \
      defined(CYN) || defined(CYN_RGB) || \
      defined(AZU) || defined(AZU_RGB) || \
      defined(TEA) || defined(TEA_RGB) || \
      defined(TUR) || defined(TUR_RGB) || \
      defined(BLU) || defined(BLU_RGB) || \
      defined(PUR) || defined(PUR_RGB) || \
      defined(MAJ) || defined(MAJ_RGB) || \
      defined(PNK) || defined(PNK_RGB) || \
      defined(WHT) || defined(WHT_RGB) || \
      defined(BLK) || defined(BLK_RGB) || \
      defined(___) || \
      defined(DUG) || defined(DUG_RGB) || \
      defined(LAC) || defined(LAC_RGB) || \
      defined(SLM) || defined(SLM_RGB) || \
      defined(BSL) || defined(BNL) || defined(BCL) || \
      defined(SSL) || defined(SNL) || defined(SCL) || \
      defined(FST) || defined(WRP) || defined(SLO)
  #error "Naming conflict: 3-letter color abbreviation already defined!"
  #endif

  //
  // Color definitions
  //
  #define RED_RGB 0xFF0000
  #define COR_RGB 0xFF7C4D
  #define ORN_RGB 0xFF8000
  #define GDN_RGB 0xD9A521
  #define GOL_RGB 0xFFD900
  #define YLW_RGB 0xFFFF00
  #define CHU_RGB 0x80FF00
  #define GRN_RGB 0x00FF00
  #define SPG_RGB 0x00FF80
  #define CYN_RGB 0x00FFFF
  #define AZU_RGB 0x99F5FF
  #define TEA_RGB 0x008080
  #define TUR_RGB 0x476E6A
  #define BLU_RGB 0x0000FF
  #define PUR_RGB 0x7A00FF
  #define MAJ_RGB 0xFF00FF
  #define PNK_RGB 0xFF80BF
  #define WHT_RGB 0xFFFFFF
  #define BLK_RGB 0x000000
  #define DUG_RGB 0x00FF68
  #define LAC_RGB 0x6B1FCE
  #define SLM_RGB 0xFFB582

  //
  // Short color names
  //
  #define RED &ug RED_RGB
  #define COR &ug COR_RGB
  #define ORN &ug ORN_RGB
  #define GDN &ug GDN_RGB
  #define GOL &ug GOL_RGB
  #define YLW &ug YLW_RGB
  #define CHU &ug CHU_RGB
  #define GRN &ug GRN_RGB
  #define SPG &ug SPG_RGB
  #define CYN &ug CYN_RGB
  #define AZU &ug AZU_RGB
  #define TEA &ug TEA_RGB
  #define TUR &ug TUR_RGB
  #define BLU &ug BLU_RGB
  #define PUR &ug PUR_RGB
  #define MAJ &ug MAJ_RGB
  #define PNK &ug PNK_RGB
  #define WHT &ug WHT_RGB
  #define ___ &ug BLK_RGB
  #define DUG &ug DUG_RGB
  #define LAC &ug LAC_RGB
  #define SLM &ug SLM_RGB

  //
  // Lock-key underglow for Base layer
  //
  #define BSL &ug_sl BLK_RGB RED_RGB
  #define BNL &ug_nl BLK_RGB RED_RGB
  #define BCL &ug_cl BLK_RGB RED_RGB

  //
  // Mouse speed indicators
  //
  #define FST GOL
  #define WRP CHU
  #define SLO COR

  // ==== PER-KEY RGB LAYERS BEGIN ====
  / {
    underglow-layer {
      compatible = "zmk,underglow-layer";

      #ifdef LAYER_Base
      Base {
        bindings = <
          ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
          PUR ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
                  ___ ___ ___                                             ___ ___ ___ 
                                       ___ CYN ___     ___ ORN ___ 
        >;
        layer-id = <LAYER_Base>;
        fade-delay = <300>;
      };
      #endif

      #ifdef LAYER_Nav
      Nav {
        bindings = <
          GRN ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
          ___ ___ SLM ORN SLM SLM                                     ___ SLM ORN SLM ___ ___
          GDN ___ ORN ORN ORN SLM                                     ___ ORN ORN ORN ORN GDN
          PUR ___ ___ SLM SLM ___                                     ___ SLM SLM SLM ORN ORN
                  ___ GDN GDN                                             GDN ___ ORN 
                                       ___ CYN ___     ___ GRN GDN 
        >;
        layer-id = <LAYER_Nav>;
        fade-delay = <600>;
      };
      #endif

      #ifdef LAYER_Keypad
      Keypad {
        bindings = <
          GRN ___ ___ ___ ___ ___                                     ___ ___ TUR TUR TUR ___ 
          ___ ___ SLM ORN SLM SLM                                     TUR CYN CYN CYN TUR ___ 
          GDN ___ ORN ORN ORN SLM                                     ___ CYN CYN CYN TUR GDN
          PUR ___ ___ ___ ___ ___                                     ___ CYN CYN CYN ___ GDN
                  ___ GDN GDN                                             GDN TUR TUR 
                                      ___ GRN ___     ___ ORN GDN 
        >;
        layer-id = <LAYER_Keypad>;
        fade-delay = <600>;
      };
      #endif

    }; // end underglow-layer
  };   // end /

  /* ============================================================
   * BEHAVIORS
   * ============================================================
   */
  / {
    behaviors {

      /*
       * uglowbat
       * ----------
       * Battery-aware underglow behavior.
       */
      uglowbat: uglowbat {
        compatible = "zmk,behavior-underglow-battery";
        threshold = <30>;
        #binding-cells = <2>;
      };
    }; // end behaviors
  };   // end /

  // ==== PER-KEY RGB LAYERS END ====

  // Cleanup
  #undef RED
  #undef RED_RGB
  #undef COR
  #undef COR_RGB
  #undef ORN
  #undef ORN_RGB
  #undef GDN
  #undef GDN_RGB
  #undef GOL
  #undef GOL_RGB
  #undef YLW
  #undef YLW_RGB
  #undef CHU
  #undef CHU_RGB
  #undef GRN
  #undef GRN_RGB
  #undef SPG
  #undef SPG_RGB
  #undef CYN
  #undef CYN_RGB
  #undef AZU
  #undef AZU_RGB
  #undef TEA
  #undef TEA_RGB
  #undef TUR
  #undef TUR_RGB
  #undef BLU
  #undef BLU_RGB
  #undef PUR
  #undef PUR_RGB
  #undef MAJ
  #undef MAJ_RGB
  #undef PNK
  #undef PNK_RGB
  #undef WHT
  #undef WHT_RGB
  #undef BLK
  #undef BLK_RGB
  #undef ___
  #undef DUG
  #undef DUG_RGB
  #undef LAC
  #undef LAC_RGB

  #undef BSL
  #undef BNL
  #undef BCL

  #undef SSL
  #undef SNL
  #undef SCL

  #undef FST
  #undef WRP
  #undef SLO
  #undef SLM
  #undef SLM_RGB
#endif


/* Input Listeners */
&cirque_rh_listener {
    input-processors = <&zip_xy_scaler 5 2>;
    layer_Nav {
        layers = <LAYER_Nav>;
        input-processors = <&zip_xy_scaler 5 2>;
    };
};

&cirque_lh_listener {
    input-processors = <&zip_xy_scaler 8 15>, <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>, <&zip_xy_to_scroll_mapper>, <&zip_click_to_right_click_mapper>;
    layer_Factory {
        layers = <LAYER_Factory>;
        input-processors = <&zip_xy_scaler 3 1>;
    };
};

/* System behavior and macros */
/ {
    behaviors {
        ZMK_TD_LAYER(lower, LAYER_Lower)
    };
};

/ {
    macros {
        rgb_ug_status_macro: rgb_ug_status_macro {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };
    };
};

/ {
#ifdef BT_DISC_CMD
    behaviors {
        bt_0: bt_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_0>, <&bt BT_DISC 0>;
        };
        bt_1: bt_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_1>, <&bt BT_DISC 1>;
        };
        bt_2: bt_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_2>, <&bt BT_DISC 2>;
        };
        bt_3: bt_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_3>, <&bt BT_DISC 3>;
        };
    };
    macros {
        bt_select_0: bt_select_0 {
            label = "BT_SELECT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_select_1: bt_select_1 {
            label = "BT_SELECT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_select_2: bt_select_2 {
            label = "BT_SELECT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_select_3: bt_select_3 {
            label = "BT_SELECT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };
#else
    macros {
        bt_0: bt_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_1: bt_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_2: bt_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_3: bt_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };
#endif
};

/ {
    behaviors {
        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };
};


/* Custom Defined Behaviors */
/ {

};

/* Automatically generated macro definitions */
/ {
    macros {

    };
};

/* Automatically generated behavior definitions */
/ {
    behaviors {

        // Layer tap dance behaviors

        ZMK_TD_LAYER(td_LAYER_Nav, 1)
        ZMK_TD_LAYER(td_LAYER_Keypad, 2)

    };
};

/* Automatically generated combos definitions */


/* Automatically generated keymap */
/ {
    keymap {
        compatible = "zmk,keymap";


        layer_Base {
            bindings = <
              &kp ESC  &kp N1     &kp N2  &mt LG(LS(N3)) N3  &mt LG(LS(N4)) N4  &kp N5                                                                                     &kp N6     &kp N7     &kp N8    &kp N9    &kp N0             &kp MINUS
              &kp TAB   &kp Q      &kp W              &kp E              &kp R   &kp T                                                                                      &kp Y      &kp U      &kp I     &kp O     &kp P              &kp BSLH
       &mt LSHFT CAPS   &kp A      &kp S              &kp D              &kp F   &kp G                                                                                      &kp H      &kp J      &kp K     &kp L  &kp SEMI         &mt RSHFT SQT
 &magic LAYER_Magic 0   &kp Z      &kp X              &kp C              &kp V   &kp B                                                                                      &kp N      &kp M  &kp COMMA   &kp DOT  &kp FSLH  &mt LG(LC(RALT)) DEL
                               &kp GRAVE          &kp LCTRL           &kp LALT                                                                                                      &kp BSPC   &kp LBKT  &kp RBKT
                                                                                        &&mt LGUI SPACE  &td_LAYER_Keypad  &kp RET  &kp RET  &td_LAYER_Nav  &mt RGUI SPACE
            >;
        };

        layer_Nav {
            bindings = <
       &to LAYER_Base   &none     &none            &none        &none      &none                                                           &none         &none         &none          &none     &none      &none
                &none   &none  &kp HOME           &kp UP      &kp END  &kp PG_UP                                                           &none  &kp LG(LBKT)        &kp UP   &kp LG(RBKT)     &none      &none
               &trans   &none  &kp LEFT         &kp DOWN    &kp RIGHT  &kp PG_DN                                                           &none      &kp LEFT      &kp DOWN      &kp RIGHT    &kp UP  &kp RSHFT
 &magic LAYER_Magic 0   &none     &none  &kp LC(LS(TAB))  &kp LC(TAB)      &none                                                           &none    &kp LG(UP)  &kp LG(DOWN)  &kp LA(RIGHT)  &kp DOWN  &kp RIGHT
                                  &none           &trans       &trans                                                                                   &trans         &none       &kp LEFT
                                                                                  &trans  &trans  &trans  &trans  &to LAYER_Base  &trans
            >;
        };

        layer_Keypad {
            bindings = <
       &to LAYER_Base   &none     &none    &trans     &trans      &none                                                            &none      &none  &kp KP_EQUAL  &kp KP_SLASH  &kp KP_MULTIPLY   &none
               &trans   &none  &kp HOME    &kp UP    &kp END  &kp PG_UP                                                          &kp TAB  &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS   &none
               &trans   &none  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN                                                            &none  &kp KP_N4     &kp KP_N5     &kp KP_N6      &kp KP_PLUS   &none
 &magic LAYER_Magic 0   &none     &none     &none      &none      &none                                                            &none  &kp KP_N1     &kp KP_N2     &kp KP_N3            &none  &trans
                                  &none    &trans     &trans                                                                                 &trans     &kp KP_N0    &kp KP_DOT
                                                                         &trans  &to LAYER_Base  &trans  &trans  &trans  &trans
            >;
        };

        layer_Magic {
            bindings = <
 &to LAYER_Base         &bt_1         &bt_2  &bt BT_CLR       &none         &none                                                            &none            &none            &none            &none            &none     &bt BT_CLR_ALL
    &bootloader  &kp C_BRI_UP         &none       &none       &none  &kp C_VOL_UP                                                  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI        &bootloader
     &sys_reset  &kp C_BRI_DN    &kp C_PREV    &kp C_PP  &kp C_NEXT  &kp C_VOL_DN                                                  &rgb_ug RGB_EFF  &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD         &sys_reset
 &to LAYER_Base         &none         &none       &none       &none    &kp C_MUTE                                                            &none            &none            &none            &none            &none  &to LAYER_Factory
                               &out OUT_USB       &none       &none                                                                                           &none            &none            &none
                                                                                    &none   &none   &none   &none   &none   &none
            >;
        };

        layer_Factory {
            bindings = <
 &kp N0  &kp N4  &kp N8  &kp N3  &kp N8  &kp N3                                                  &kp N3  &kp N8  &kp N3  &kp N8  &kp N4  &kp N0
 &kp N1  &kp N5  &kp N9  &kp N4  &kp N9  &kp N4                                                  &kp N4  &kp N9  &kp N4  &kp N9  &kp N5  &kp N1
 &kp N2  &kp N6  &kp N0  &kp N5  &kp N0  &kp N5                                                  &kp N5  &kp N0  &kp N5  &kp N0  &kp N6  &kp N2
 &kp N3  &kp N7  &kp N1  &kp N6  &kp N1  &kp N6                                                  &kp N6  &kp N1  &kp N6  &kp N1  &kp N7  &kp N3
                 &kp N2  &kp N7  &kp N2                                                                  &kp N2  &kp N7  &kp N2
                                                 &kp N7  &kp N8  &kp N9  &kp N9  &kp N8  &kp N7
            >;
        };

    };
};
